<h1>List of Creatures</h1>

<ol>
<% @creatures.each do |creature| %>
    <li>
        <div>
            <p>Name: <%= creature.name%></p>
            <p>Description: <%= creature.description%></p>
        </div>
    </li>
<%end%>
</ol>

<%= link_to "Add a creature", new_creature_path %>
